{% extends "base.html" %}
{% load static %}


{% block content %}

	<section class="hero">
	  <div class="hero-body">
	    <div class="container">
	      <img src="{% static "img/the_patio.jpg" %}" alt="The Patio">
	    </div>
	  </div>
	</section>

	<section class="section">
	<div class="container has-text-centered is-size-3">
	    A friendly neighborhood spot with the best patio in the Marina
	</div>
	<div class="container has-text-centered is-size-5">
	    TOTES
	</div>
	
	<hr size="30">

	<div class="container has-text-centered is-size-1">
		Libations
	</div>
	<div class="container has-text-centered is-size-4">
		$5 cocktails every day
	</div>
	<div class="container has-text-centered is-size-4">
		Weekly reserve list specials
	</div>
	<br>
	<div class="container has-text-centered is-size-3">
		Bottle flights
	</div>
	<div class="container has-text-centered is-size-3">
		Light and lovely | 60
	</div>
	<div class="container has-text-centered is-size-5">
		<ul>
			<li>Cantine Povero Dolcetto</li>
			<li>Gustavo Riffo Pais</li>
			<li>Voix de la Vigne Pinot Noir</li>
		</ul>
	</div>
	<div class="container has-text-centered is-size-3">
		Bold and beautiful | 75
	</div>
	<div class="container has-text-centered is-size-5">
		<ul>
			<li>Wine Spots Cuvee 38</li>
			<li>Chateau Barrejat Madiran</li>
			<li>Firestone Cabernet Sauvignon</li>
		</ul>
	</div>
	<br>
	<div class="container has-text-centered is-size-3">
		Bottles under 20
	</div>
	<div class="container has-text-centered is-size-6">
		while supplies last
	</div>
	<div class="container has-text-centered is-size-5">
		<ul>
			<li>My Essential Rose | 15
			<li>Piccini Pinot Grigio | 15</li>
			<li>Dashwood Sauvignon Blanc | 19</li>
			<li>Piccini Chianti Classico | 19</li>
		</ul>
	</div>

	<br>

	<div class="container has-text-centered is-size-1">
		Culinations
	</div>
	<div class="container has-text-centered is-size-4">
		malted vinegar popcorn | 5
	</div>
	<div class="container has-text-centered is-size-4">
		warm olives | 5
	</div>
	<div class="container has-text-centered is-size-6">
		citrus and house made herb oil
	</div>
	<div class="container has-text-centered is-size-4">
		roasted stuffed dates | 8
	</div>
	<div class="container has-text-centered is-size-6">
		bleu d’auvergne, apricot, pecan, balsamic currant reduction
	</div>
	<div class="container has-text-centered is-size-4">
		hand cut fries | 5
	</div>
	<div class="container has-text-centered is-size-6">
		house furikake
	</div>
	<div class="container has-text-centered is-size-4">
		crispy brussels sprouts | 6
	</div>
	<div class="container has-text-centered is-size-6">
		black anchovy and mushroom seasoning
	</div>
	<div class="container has-text-centered is-size-4">
		marcona almonds | 7
	</div>
	<div class="container has-text-centered is-size-6">
		maldon sea salt, herb oil
	</div>

	<br>

	<div class="container has-text-centered is-size-4">
		chicken strip & fries basket | 14
	</div>
	<div class="container has-text-centered is-size-6">
		buttermilk soaked, with smoked paprika breading
	</div>
	<div class="container has-text-centered is-size-4">
		asian coleslaw | 8
	</div>
	<div class="container has-text-centered is-size-6">
		rice vinegar/peanut/sesame oil dressing, ginger
	</div>

	<br>

	<div class="container has-text-centered is-size-4">
		charcuterie plate | 16
	</div>
	<div class="container has-text-centered is-size-6">
		mustard, baguette, cornichon
	</div>
	<div class="container has-text-centered is-size-4">
		sommelier’s cheese selections | 16
	</div>
	<div class="container has-text-centered is-size-6">
		fruit, baguette, nuts
	</div>

	<br>

	<div class="container has-text-centered is-size-1">
		Groceries
	</div>
	<div class="container has-text-centered is-size-4">
		8oz short ribs | 6
	</div>
	<div class="container has-text-centered is-size-4">
		organic chicken breast | 5
	</div>







	</section>

{% endblock %}
