{% extends "base.html" %}
<!-- {% load static %}
 -->

{% block content %}

	<section class="hero">
	  <div class="hero-body">
	    <div class="container">
	      <img src="{% static "/img/the_patio.jpg" %}" alt="The Patio">
	    </div>
	  </div>
	</section>

	<section class="section">
	<div class="container has-text-centered is-size-3">
	    A friendly neighborhood garden sanctuary 	
    	<br>
		with the best patio in the Marina
	</div>
	<div class="container has-text-centered is-size-5">
	    wed-fri 5-10pm
	<br>
	    sat noon-10pm
	<br>
	    sun noon-8pm
	<br>

	<div class="container has-text-centered is-size-5">
        <script type='text/javascript' src='//www.opentable.com/widget/reservation/loader?rid=986023&type=standard&theme=standard&iframe=true&domain=com&lang=en-US&newtab=false&ot_source=Restaurant%20website'></script>
    </div>

	<br>

    <div class="swiper-container">
	  <div class="swiper-wrapper">
	      <div class="swiper-slide">
	        <img src="{% static "/img/6.jpg" %}">
	      </div>
	      
	      <div class="swiper-slide">
	        <img src="{% static "/img/8.jpg" %}">
	      </div>
	      
	      <div class="swiper-slide">
	        <img src="{% static "/img/10.jpg" %}">
	      </div>
	      
	      <div class="swiper-slide">
	        <img src="{% static "/img/11.jpg" %}">
	      </div>
	      
	      <div class="swiper-slide">
	        <img src="{% static "/img/7.jpg" %}">
	      </div>
	      
	  </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
	</div>

	<!-- Initialize Swiper -->
	<script>
	var mySwiper = new Swiper('.swiper-container', {
	  // Optional parameters
	  direction: 'horizontal',
	  loop: true,

	  autoplay: {
	    delay: 3000,
	  },

	  // If we need pagination
	  pagination: {
	    el: '.swiper-pagination',
	  },

	  // Navigation arrows
	  navigation: {
	    nextEl: '.swiper-button-next',
	    prevEl: '.swiper-button-prev',
	  },

	  autoHeight:true,

	})
	</script>	
	
	<hr size="30">

	<div class="container has-text-centered is-size-1">
		SMALL PLATES
	</div>

	<div class="container has-text-centered is-size-4">
		roast seasonal vegetable medley | 10
	</div>

	<div class="container has-text-centered is-size-4">
		roasted stuffed dates | 10
	</div>
	<div class="container has-text-centered is-size-6">
		bleu d’auvergne, apricot, pecan, balsamic currant reduction
	</div>

	<div class="container has-text-centered is-size-4">
		hand cut fries | 8
	</div>

<!-- 	<div class="container has-text-centered is-size-4">
		crispy brussels sprouts | 12
	</div>
	<div class="container has-text-centered is-size-6">
		black anchovy fish sauce, cats-paw lime zest
	</div> -->

	<div class="container has-text-centered is-size-4">
		marcona almonds | 10
	</div>
	<div class="container has-text-centered is-size-6">
		maldon sea salt, rosemary, herb oil
	</div>

	<div class="container has-text-centered is-size-4">
		camarones fritos | 14
	</div>
	<div class="container has-text-centered is-size-6">
		chipotle-mango aioli, crispy shoestring rutabaga
	</div>

	<div class="container has-text-centered is-size-4">
		charcuterie plate | 24
	</div>
	<div class="container has-text-centered is-size-6">
		molinari spicy copa, spanish chorizo, prosciutto di parma, red wine salami
	</div>

	<div class="container has-text-centered is-size-4">
		sommelier’s cheese selections | 24
	</div>
	<div class="container has-text-centered is-size-6">
		sage-infused derby, gorgonzola blue, brie, manchego
	</div>

	<div class="container has-text-centered is-size-1">
		BIG PLATES
	</div>

	<div class="container has-text-centered is-size-4">
		tahini baby kale salad | 14
	</div>
	<div class="container has-text-centered is-size-6">
		spicy lime and cider vinegar dressing, ancho chili feta, toasted pecans
	</div>

	<div class="container has-text-centered is-size-4">
		mac-n-cheese | 16
	</div>
	<div class="container has-text-centered is-size-6">
		3-cheese mornay, gremolata bread crumbs
	</div>

	<div class="container has-text-centered is-size-4">
		carnitas tacos | 16
	</div>
	<div class="container has-text-centered is-size-6">
		3-nut serrano chutney, milk/citrus/white wine marinade, yucatán slaw
	</div>

	<div class="container has-text-centered is-size-4">
		carnitas tacos | 16
	</div>
	<div class="container has-text-centered is-size-6">
		3-nut serrano chutney, milk/citrus/white wine marinade, yucatán slaw
	</div>

	<div class="container has-text-centered is-size-4">
		sautéed whitefish | 19
	</div>
	<div class="container has-text-centered is-size-6">
		olive tapenade, garlic whipped yukon gold potatoes
	</div>

	<div class="container has-text-centered is-size-4">
		burger & fries| 16
	</div>
	<div class="container has-text-centered is-size-6">
		toasted thomas english muffin, cheddar, grilled red onion, whole grain mustard
	</div>

	<div class="container has-text-centered is-size-4">
		jerk chicken skewers| 13
	</div>
	<div class="container has-text-centered is-size-6">
		lemon/garlic/tahini sauce
	</div>

	<br>
	<div class="container has-text-centered is-size-1">
		BRUNCH
	</div>
	<div class="container has-text-centered is-size-6">
		sat/sun 12-3pm
	</div>
	<br>
	
	<div class="container has-text-centered is-size-4">
		huevos rancheros | 13
	</div>
	<div class="container has-text-centered is-size-6">
		kale salad w tahini dressing, fried black beans, habanero & anaheim tomato sauce
	</div>

	<div class="container has-text-centered is-size-4">
		3 scrambled eggs | 10
	</div>
	<div class="container has-text-centered is-size-6">
		habanero & anaheim tomato sauce, kale salad w tahini dressing
	</div>

	<div class="container has-text-centered is-size-4">
		eggs benedict | 16
	</div>
	<div class="container has-text-centered is-size-6">
		paprika and cayenne hollandaise, canadian bacon, kale salad
	</div>

	<div class="container has-text-centered is-size-4">
		vegetarian omlette | 14
	</div>
	<div class="container has-text-centered is-size-6">
		goat cheese, spinach, red pepper
	</div>

	<div class="container has-text-centered is-size-4">
		denver omlette | 14
	</div>
	<div class="container has-text-centered is-size-6">
		canadian bacon, red pepper, onion
	</div>

	<div class="container has-text-centered is-size-4">
		side of bacon | 5
	</div>
	<div class="container has-text-centered is-size-6">
		3 slices of thick center cut
	</div>

	<div class="container has-text-centered is-size-4">
		mimosas | 13
	</div>
	<div class="container has-text-centered is-size-6">
		20% off the bottle, regularly 48
	</div>

<!-- 	<div class="container has-text-centered is-size-4">
	</div>
	<div class="container has-text-centered is-size-6">
	</div>
 -->


	</section>

{% endblock %}
